* {
  padding: 0;
  margin: 0;
  background: none;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}

:root {
  /* ========== Cores ========== */
  --color-primary-green: #b0cb1f;
  --color-secondary-white: #ffffff;
  --color-secondary-black: #333231;
  --color-secondary-blue-500: #2da5f3;
  --color-secondary-warning-400: #efd33d;
  --color-secondary-gray-900: #191c1f;
  --color-secondary-gray-600: #5f6c72;
  --color-secondary-gray-500: #77878f;
  --color-secondary-orange-500: #fa8232;
  --color-neutral-black: #000;

  /* ========== Fontes ========== */
  --font-family: "Inter", sans-serif;
  --font-product: "Public Sans", sans-serif;
  --font-headline-h1: 700 60px var(--font-family);
  --font-headline-h2: 700 48px var(--font-family);
  --font-headline-h3: 700 40px var(--font-family);
  --font-headline-h4: 700 25px var(--font-family);
  --font-body: 400 16px var(--font-family);
  --font-button: 500 16px var(--font-family);
  --font-body-regular-body-3: 400 14px var(--font-family);
  --font-body-small-600: 600 14px var(--font-product);
  --font-body-small-400: 400 14px var(--font-product);
}

/* ========== Classes ========== */

.btn-primary {
  cursor: pointer;
  background-color: var(--color-primary-green);
  color: var(--color-secondary-black);
  padding: 12px 30px;
  border-radius: 15px 3px;
  font: var(--font-button);
  transition: 0.3s ease-in-out;
}

.btn-primary:hover {
  filter: brightness(1.05);
  transform: scale(1.05);
}
